astroid==2.4.2
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
dnspython==1.16.0
Flask==1.1.2
html5lib==1.1
idna==2.10
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.5
packaging==20.9
pluggy==0.13.1
py==1.10.0
pygame==2.0.1
pykerberos==1.2.1
pylint==2.6.0
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.2
python-dotenv==0.15.0
python-snappy==0.6.0
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
six==1.15.0
soupsieve==2.2
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.56.2
urllib3==1.26.3
validators==0.18.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
